<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
>
<head th:include="guest/front-header::front-header"></head>
<body class="relative">
<!-- Preloader -->
<div class="loader-mask">
    <div class="loader">
        <div></div>
        <div></div>
    </div>
</div>
<div class="main-wrapper oh">
    <!--top内容-->
    <div th:include="guest/front-top :: front-top"></div>
    <div class="content-wrapper oh">
        <!-- 主要内容区域 -->
        <section class="content blog-standard">
            <div class="container relative">
                <div class="row" th:with="lists=8">
                    <!-- post content -->
                    <div class="col-md-9 post-content mb-50">
                        <!-- large post -->
                        <article class="entry-item large-post" >
                            <div class="entry-header">
                                <a href="javascript:void(0)" class="entry-category" th:text="${newArticle.type.type}">博文分类1</a>
                                <h2 class="entry-title">
                                    <a th:href="@{/guest/showArticle(id=${newArticle.id})}" th:text="${newArticle.title}">博文标题</a>
                                </h2>
                            </div>
                            <div class="entry-img">
                                <a th:href="@{/guest/showArticle(id=${newArticle.id})}">
                                    <img th:src="@{newArticle.img}" alt="无图片">
                                </a>
                            </div>
                            <div class="entry-wrap">
                                <div class="entry">
                                    <div class="entry-content">
                                        <p th:utext="${#strings.abbreviate(newArticle.content,400)}">博文内容....</p>
                                        <div class="text-center">
                                            <a th:href="@{/guest/showArticle(id=${newArticle.id})}" class="read-more underline-link">更多</a>
                                        </div>
                                    </div>
                                    <div class="entry-meta-wrap clearfix">
                                        <ul class="entry-meta">
                                            <li th:text="${newArticle.user.name}">作者</li>
                                            <li class="entry-date" th:text="${#dates.format(newArticle.publishTime,'yyyy-MM-dd HH:mm:ss')}">
                                                2020年6月30日
                                            </li>
                                            <li class="entry-comments">
                                                评论数(2)
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </article>
                        <!-- grid posts -->
                        <div class="row items-grid">
                            <div class="col-sm-6" th:each="new10: ${newTop10}">
                                <article class="entry-item">
                                    <div class="entry-img">
                                        <a th:href="@{/guest/showArticle(id=${new10.id})}">
                                            <img th:src="@{new10.img}" alt="无图片">
                                        </a>
                                    </div>
                                    <div class="entry-header">
                                        <a href="javascript:void(0)" class="entry-category" th:text="${new10.type.type}">博文分类</a>
                                        <h2 class="entry-title">
                                            <a th:href="@{/guest/showArticle(id=${new10.id})}" th:text="${new10.title}">博文标题</a>
                                        </h2>
                                    </div>
                                    <div class="entry-wrap">
                                        <div class="entry">
                                            <div class="entry-content">
                                                <p th:utext="${#strings.abbreviate(new10.content,400)}">博文内容</p>
                                            </div>
                                            <div class="entry-meta-wrap clearfix">
                                                <ul class="entry-meta">
                                                    <li th:text="${new10.user.name}">作者</li>
                                                    <li class="entry-date" th:text="${#dates.format(new10.publishTime,'yyyy-MM-dd HH:mm:ss')}">
                                                        2020年6月30日
                                                    </li>
                                                    <li class="entry-comments">
                                                        评论数(2)
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </article>
                            </div>
                        </div>
                        <div class="row mt-20">
                            <div class="col-md-12 text-center">
                                <a th:href="@{/guest/findmore}" class="btn btn-md btn-stroke" id="load-more">查看更多</a>
                            </div>
                        </div>
                    </div>
                    <!-- 侧边栏 -->
                    <div th:include="guest/front-sidebar :: front-sidebar"></div>
                </div>
            </div>
        </section>
        <!--页脚-->
        <div th:include="guest/front-footer :: front-footer"></div>
    </div>
</div>
</body>
</html>
