<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.blog.dao.IUserMapper">
    <select id="findAllUser" resultType="User">
        select * from t_user
    </select>
    <select id="findUser" resultType="User">
        select * from t_user
        where 1=1
        <if test="name!=null and name!=''">
            and name=#{name}
        </if>
        <if test="loginName!=null and loginName!=''">
            and login_name=#{login_name}
        </if>
        <if test="loginPass!=null and loginPass!=''">
            and login_pass=#{loginPass}
        </if>
        <if test="email!=null and email =''">
            and email=#{email}
        </if>
        <if test="valid!=null">
            and valid=#{valid}
        </if>
        <if test="img!=null and img!=''" >
            and img=#{img}
        </if>

    </select>
    <delete id="delUser" parameterType="User">
        delete from t_user where id=#{id}
    </delete>
    <update id="modifyUser" parameterType="User">
        update t_user set name=#{name},login_name=#{loginName},login_pass=#{loginPass},email=#{email},valid=#{valid},img=#{img}
    </update>
    <insert id="addUser" parameterType="User" useGeneratedKeys="true" keyColumn="id" keyProperty="id">
        inser into t_user(name,login-name,login_pass,email,valid,img,register_time) values (#{name0},#{loginName},#{loginPass},#{email},#{valid},#{img},#{registerTime})
    </insert>
</mapper>














